html {
  background-color: #c0c8d4;
}

.dropdown-container {
  /* display: inline-flex; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style-type: none;
  padding: 2px;
  margin: 20px; 
}

.menu-title {
  background-color: #2D3142;
  color: rgba(240, 244, 255, 0.959);
  font-family: 'Carter One', cursive;
  margin: 2px;
  padding: 5px;
  text-align: left;
  font-size: 1rem;   
}

.dropdown-selector{
  position: relative;
  border-right: 1px solid black;
  border-left: 1px solid black;  
}

.dropdown-menu {
  transition: transform 300ms ease-in;
  transform: translateY(-50%) scaleY(0);
  cursor: pointer;
  list-style-type: none;
  padding: 0;
  position: absolute;
  left: 2px;
  width: calc(100% - 4px);
}

.dropdown-item {
  background-color: #F7FFF7;
  border: 1px solid #595959;
  font-family: 'Amiri', serif;
  padding: 0 2px;
  text-align: right;  
} 

.dropdown-menu.clicked {
  transform: translateY(0) scaleY(1);
}

